/* Smartphones */
@media screen and (max-width: 414px) {
    .h1 {
        display: flex;
        font-size: 34px;
        
    }
    nav {
        display: block;
        padding: auto;
        margin: auto;
    }
    .vorstellung {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding: auto;
        margin: auto;
    }
        .vorstellung p {
        max-width: 100%;
        padding: auto;
        margin: auto;
        font-size: 15px;
    }
    .vorstellung img {
        width: 120px;
        padding: auto;
        margin: auto;
    }
    .bild-container {
        margin: 20px;
        padding: 20px;
    }
    nav a:nth-child(3) {
        display: none;
    }
    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: auto;
        margin: auto;
    }
    dl.horizontal {
        font-size: 12px; 
        font-family: Arial, Helvetica, sans-serif;
        max-width: 200px;
    }
    dl.horizontal dt {float:left; max-width:100px; clear:both; margin:0 0 5px 0; padding:3px;}
    .flex-untercontainer {
        margin: 20px;
        padding: 20px;  
    }
    .flex-untercontainer div:first-child {
        margin-bottom: 150px;
        padding: auto;
    }
    .flex-untercontainer div:nth-child(2) {
        margin-bottom: 150px;
    }
    dl.horizontal dd {float:left; max-width:100px; border:1px solid #aaaaaa; margin:0 0 5px 0; padding:2px; box-shadow: 1px  1px 3px #aaaaaa;}
    dl.horizontal dd span {background:#1770d3; display:block; color:#ffffff; text-indent:4px;}

    .footer-container {
        display: block;
        
    }
    .footer-container div:last-child {
        display: none;
    }
}

/* Tablets */
@media screen and (min-width: 415px) and (max-width: 1024px) {
    .h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        margin: auto;
        padding: auto;

    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav a:nth-child(3) {
        display: none;
    }
    .vorstellung p  {
        font-size: 12px;
        max-width: 100%;
        padding: auto;
        margin: auto;
    }
    .vorstellung img{
        padding: auto;
        margin: auto;
    } 
    
    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: auto;
        margin: auto;
    }
    dl.horizontal {
        font-size: 12px; 
        font-family: Arial, Helvetica, sans-serif;
        max-width: 200px;
    }
    dl.horizontal dt {float:left; max-width:100px; clear:both; margin:0 0 5px 0; padding:3px;}
    .flex-untercontainer {
        margin: 20px;
        padding: 20px;  
    }
    .flex-untercontainer div:first-child {
        margin-bottom: 150px;
        padding: auto;
    }
    .flex-untercontainer div:nth-child(2) {
        margin-bottom: 150px;
    }
    dl.horizontal dd {float:left; max-width:100px; border:1px solid #aaaaaa; margin:0 0 5px 0; padding:2px; box-shadow: 1px  1px 3px #aaaaaa;}
    dl.horizontal dd span {background:#1770d3; display:block; color:#ffffff; text-indent:4px;}
    .footer-container div {
        display: inline;
        max-width: 20%;
        margin: auto;
        padding: auto;
        
        
    }
    .footer-container div:last-child {
        display: none;
    }
}
