* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}
/* Grundlegendes CSS */
header {
    margin: 20px;
    padding: 20px;
    
}

.h1{
    display: flex;
    justify-content: space-evenly;
}
.vorstellung {
display: flex;
justify-content: center;
max-width: 100%;
margin: 70px;
padding: 30px;

}
p {
    font-size: 24px;
    font-style: oblique;
    margin: 20px;
    padding: 20px;
}

 aside {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 40px;
    padding: 40px;
    
}
a {
    padding: 20px;
}
.flex-container {
    display: flex;
    justify-content: center;
    
    margin: 20px;
    padding: 20px;
}
dl.horizontal {
    font-size: 12px; 
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
}
dl.horizontal dt {float:left; width:150px; clear:both; margin:0 0 5px 0; padding:3px;}
.flex-untercontainer {
    margin: 20px;
    padding: 20px;  
}
dl.horizontal dd {float:left; width:300px; border:1px solid #aaaaaa; margin:0 0 5px 0; padding:2px; -moz-box-shadow: 1px  1px 3px #aaaaaa;}
dl.horizontal dd span {background:#1770d3; display:block; color:#ffffff; text-indent:4px;}
.flex-untercontainer2 {
    margin: 20px;
    padding: 20px;
    
}
.flex-untercontainer div:first-child
{
    margin: 20px;
    padding: 20px;
    
}
.flex-untercontainer div:nth-child(2) {
    margin: 20px;
    padding: 20px;
    
}
.flex-untercontainer div:last-child{
    margin: 20px;
    padding: 20px;
    
}
.flex-untercontainer2 div:first-child {
    margin: 20px;
    padding: 20px;
    
}
.flex-untercontainer2 div:nth-child(2) {
    margin: 20px;
    padding: 30px;
    
}
.flex-untercontainer2 div:last-child {
    margin: 20px;
    padding: 20px;
    
}
.footer-container {
    display: flex;
    justify-content: center;
}
.footer-container div {
    margin: 20px;
    padding: 20px;
}
